@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    font-family: "Lato", sans-serif;
    color: #234465;
}

#container {
    width: 30%;
    min-height: 400px;
    margin: 50px auto;
    background-color: rgb(216, 245, 253);
    padding: 30px;
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

label {
    margin-bottom: 5px;
}

input,
select {
    margin-bottom: 10px;
}

input,
select {
    font-size: 1.0em;
    border: 1px solid lightgrey;
    outline: none;
    border-radius: 4px;
    padding: 5px;
}

#convert-btn {
    padding: 0.3rem 0.5rem;
    font-size: 22px;
    margin: 1rem 0 1rem 0;
    color: #366593;
    background: white;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-weight: 300;
    border: 2px solid #366593;
    cursor: pointer;
}

#convert-btn:hover,
button:hover {
    color: white;
    background: #366593;
}

footer {
    margin-top: 50px;
    text-align: center;
}

#result {
    width: 30%;
}